* {
    margin: 0;
}

body {
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}

.video {
    width: 160px;
    display: inline-block;
    margin-bottom: 20px;
}

img, video {
    width: 100%;
    height: auto;
}