{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
    {% for video in video_list %}
        <a href="{% url 'videos:video_detail' video.pk %}">
            <div class="video">
                {% if video.thumbnail %}
                    <img src="{{ video.thumbnail.url }}">
                {% else %}
                    <img src="{% static 'videos/noimage.png' %}">
                {% endif %}
                <h2>{{ video.title }}</h2>
            </div>
        </a>
    {% endfor %}
{% endblock %}
